{% extends "base.html" %}

{% block title %}Cambiar contraseña{% endblock %}

{% block content %}

<div class="row justify-content-center">
  <div class="col-lg-5">

    <div class="card-pro">
      <div class="card-header">
        <i class="bi bi-shield-lock"></i>
        Cambiar contraseña
      </div>

      <div class="card-body">

        <p class="text-muted">
        Debes cambiar tu contraseña antes de continuar.
        </p>

        {% if error %}
        <div class="alert alert-danger">
        {{ error }}
        </div>
        {% endif %}

        <form method="post">

          <div class="mb-3">
            <label class="form-label">Nueva contraseña</label>
            <input type="password" name="password" class="form-control" required>
          </div>

          <button class="btn btn-credimas w-100">
            Guardar contraseña
          </button>

        </form>

      </div>
    </div>

  </div>
</div>

{% endblock %}